.gallery .gallery-titel {
    font-size: 50px;
}

.gallery .bilddiv {
    display: flex;
    height: 500px;
    width: 500px;
    flex-direction: column;
}

.gallery .bilddiv img {
    height: 200px;
    width: 200px;
    margin: 25px;
}

.gallery .bilddiv .rows {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
}

h1 {
    background: red;
    padding: 25px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

nav {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffe4c4;
}

.header a {
    text-decoration: none;
    background-color: #ffe4c4;
    color: black;
    text-align: center;
    flex-basis: 100vw;
    height: 45px;
}

.header a:hover {
    background-color: #f9d09e;
}