* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f2f2f2;
}

.gallery .gallery-titel {
    font-size: 50px;
}

.gallery .bilddiv {
    display: flex;
    height: 500px;
    width: 500px;
    flex-direction: column;
}

.gallery .bilddiv img {
    height: 200px;
    width: 200px;
    margin: 25px;
}

.gallery .bilddiv .rows {
    display: flex;
    flex-direction: row;
}

h1 {
    background: red;
    padding: 25px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
    height: 100px;
    margin-bottom: 5px;
}

nav {
    width: 100vw;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffe4c4;
}

.header a {
    text-decoration: none;
    background-color: #ffe4c4;
    color: black;
    text-align: center;
    flex-basis: 100vw;
    height: 45px;
}

.header a:hover {
    background-color: #f9d09e;
}

.main-text {
    height: calc(100vh - 170px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.text-container, .about {
    flex-basis: 500px;
    min-width: 250px;
    max-width: 500px;
    background-color: bisque;
}

.text-container {
    flex-basis: 500px;
    min-width: 250px;
    max-width: 500px;
}

footer {
    height: 65px;
    background-color: bisque;
}